<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new ptimeio ptograma</title>
    <style>
        body {
            background-color: rgb(109, 30, 184);
            color: white;
            font: normal 20pt arial;s
        }
        h1 {
            color: #000;
        }
    </style>
</head>

<body>
<h1>olá, mundo</h1>
    <p>eu sou o homen de ferro</p>
    <script>
        window.alert('minha primeira mensagem');
        window.confirm('esta gostando disso kkk');
        window.prompt('qual e o seu nome')
    </script>
</body>
</html>
